@model ProjectsIndexViewModel
@{
    ViewData["Title"] = "Projects";
}
@if (Model.Role != Role.Partisipient)
{
    <a class="btn btn-info float-right" asp-controller="Projects" asp-action="AddProject">Добави проект</a>
}
<h2>Проекти</h2>
<hr />
@if (Model.Projects.Count() == 0)
{
    <div class="card projectAnimated mt-4">
        <div class="card-body text-center">
            <h5 class="card-title">🙃 До момента няма добавени проекти 🙃</h5>
            <p>🥇 Ти можеш да си първи 🥇</p>
        </div>
    </div>
}
else
{
    <div class="card-columns">
        @foreach (var project in Model.Projects)
        {
            <div class="card projectAnimated">
                <img class="card-img-top" src="@project.Images" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">@project.Title</h5>
                    <p class="card-text">@project.Description</p>
                    <a href="/Projects/Project?id=@project.Id" class="btn btn-primary w-100">Повече информация</a>
                </div>
            </div>
        }
    </div>
}