@using CleanCountry.Common
@{
    ViewData["Title"] = "Project";
}

<section id="project">
    <div id="people">
        <p>profile pic: people</p>
        <p>profile pic: people</p>
        <p>profile pic: people</p>
        <p>profile pic: people</p>
        <p>profile pic: people</p>
        <p>profile pic: people</p>
    </div>
    <div id="chat">
        <p>chat</p>
        <p>chat</p>
        <p>chat</p>
        <p>chat</p>
        <p>chat</p>
        <p>chat</p>
    </div>
</section>

