@using CleanCountry.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в @GlobalConstants.SystemName!</h1>
    <div class="container-bg">
        <div class="container">
            <h3 style="margin-top: 5%;">Какво е CleanCountry?</h3>
            <h5>CleanCountry е уеб-платформа, в която може да се показват, организират и провеждат кампании, свързани с опазване на околната среда.</h5>

            <h3 style="margin-top: 5%;">Искаш да организираш събитие?</h3>
            <a href="/Identity/Account/Register" class="btn btn-primary w-25" style="margin-top: 2%;">Регистрация на организатори</a>

            <h3 style="margin-top: 5%;">Желаеш да бъдеш част от кампания и да помогнеш на околната среда?</h3>
            <a href="/Identity/Account/Register" class="btn btn-primary w-25" style="margin-top: 2%; margin-bottom: 3%;">Регистрация на потребители</a>
        </div>
    </div>
</div>
